<jui-modal
  [modelValue]="shouldShowWarningMessage"
  (modelValueChange)="shouldShowWarningMessage = $event"
  [height]="height"
  [width]="width"
  [persistent]="false"
  [a11yMessage]="a11yMessages"
  [ariaLabelledby]="ariaLabelledby"
  [closeButton]="false"
  (backdropClick)="onBackdropClick()"
>
  <div class="alert-content">
    <div class="countdown-timer">
      <span>
        Your session will time out due to inactivity in
        {{ formattedTimer(timeLeft) }}. Do you want to stay signed in?
      </span>
    </div>

    <div class="button-group">
      <button
        class="button stop-timer-button"
        [attr.aria-label]="a11yMessages.stopTimerButtonAriaLabel"
        (click)="onStopTimer()"
      >
        {{ messages.stopTimerButtonLabel }}
      </button>
      <button
        class="button button-primary reset-timer-button"
        [attr.aria-label]="a11yMessages.resetTimerButtonAriaLabel"
        (click)="onResetTimer()"
      >
        {{ messages.resetTimerButtonLabel }}
      </button>
    </div>
  </div>
</jui-modal>
