<jui-modal
  [modelValue]="shouldShowWarningMessage"
  (modelValueChange)="shouldShowWarningMessage = $event"
  [closeButton]="false"
  [height]="height"
  [width]="width"
  [persistent]="false"
  [teleportTo]="teleportTo"
  [appContentId]="appContentId"
  [isAlert]="true"
  [ariaLabelledby]="ariaLabelledby"
  [classes]="modalClasses"
>
  <div class="alert-content">
    <ng-content select="[message-slot]"></ng-content>
    <div *ngIf="!customMessage" class="countdown-timer">
      <span>
        Your session will time out due to inactivity in
        {{ formattedTimer(timeLeft()) }}. Do you want to stay signed in?
      </span>
    </div>
    <div class="button-group">
      <button
        class="button stop-timer-button"
        type="button"
        [attr.aria-label]="a11yMessages.stopTimerButtonAriaLabel"
        (click)="onStopTimer()"
      >
        {{ messages.stopTimerButtonLabel }}
      </button>
      <button
        class="button button-primary reset-timer-button"
        type="button"
        [attr.aria-label]="a11yMessages.resetTimerButtonAriaLabel"
        (click)="onResetTimer()"
      >
        {{ messages.resetTimerButtonLabel }}
      </button>
    </div>
  </div>
</jui-modal>
